body {
  background-color: #4A4170;
  color: aliceblue;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


@font-face {
  font-family: "RandomGrotesque";
  src: url("./fonts/RG.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
  font-family: "MyFlora";
  src: url("./fonts/Myflora.otf") format("opentype");
    font-weight: 100;


}




